<div class="article-bar">
    <ul class="article-bar-item">
	    <li>
	    	<div class="article-bar-sign"></div>
	    </li>
	    <li>
	    	<a class="article-bar-text">click me 2</a>
	    </li>
    </ul>
    <ul class="article-bar-item">
	    <li>
	    	<div class="article-bar-sign"></div>
	    </li>
	    <li>
	    	<a class="article-bar-text">click me 2</a>
	    </li>
    </ul>
</div>