<div id="mobile-header">
    <div id="main-button"> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <p class="head-title">LEAF'S BLOG</p>
</div>
