<div id="right-panel" class="right-panel">
	<!--<canvas id="right-canvas"></canvas>-->
	<div id="rightbody" class="rightbody">
      <% if (theme.maxContentWidth) { %>
        <div style="max-width: <%= theme.maxContentWidth %>">
      <% } %>
          <%- body %>
      <% if (theme.maxContentWidth) { %>
        </div>
      <% } %>
	</div>

</div>