<!------------------------------
    icon-social-github
-------------------------------->

<!-- add social info here -->

<% if (config.social) { %>

<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <% if (config.social.github) { %>
      <!-- Github -->
      <li class="navigation__item">
        <a href="https://github.com/<%= config.social.github %>" title="on GitHub">
          <i class='icon icon-social-github'></i>
          <span class="label">GitHub</span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>

<% } %>